.spooky {
  font-family: 'Creepster', cursive !important;
  letter-spacing: 2px;

}

.nonspooky {
  font-family: 'Open Sans Condensed', sans-serif !important;
  line-height: 1.0em !important;
  padding-bottom: 0.3em !important;

}

.car {
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 15px !important;
  padding: 0px;,
  margin: 0px;
}
.bright {
  -webkit-filter: brightness(160%);

}
.notbright {
  -webkit-filter: brightness(60%);

}
.bright2 {
  border-style: solid;
  border-width: 1px;
  border-color: white;
}
a{
  color: white;
}
