.spooky {
  font-family: 'Creepster', cursive !important;
  font-size: 30px !important;
  padding: 0px;
  margin: 0px;
}

p {
  text-align: left;
  font-size: 21px;
  font-family: 'Open Sans Condensed', sans-serif !important;
}
.border {
  border-style: solid !important;
  border-width: 3px !important;
  border-radius: 10px !important;
  border-color: rgb(251,128,14) !important;
}

.borderContents {

  width: 50%;
  height: 50%;
  float: right;

}
.list {
  padding-left:6px;
  padding-right:3px;
  padding-bottom: 2px;
  text-align: left;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif !important;
}

.light {
  font-weight: 400 !important;
  font-size: 20px;
  margin-top: 0.2em !important;
  margin-bottom: 0.2em !important;
  -webkit-margin-before: 0.2em !important;
  -webkit-margin-after: 0.2em !important;


}
