.spooky {
  font-family: 'Creepster', cursive;
  font-size: 30px !important;
  padding: 0px;
  margin: 0px;
}

p {
  text-align: left;
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif !important;
}
